* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-options {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
}

.hamburger-icon {
  width: 20px;
  padding-left: 50px;
}

.nav-option {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
}

.nav-option:hover {
  background-color: rgb(199, 199, 199);
  transition: 300ms;
  cursor: pointer;
}

.volvo-logo {
  width: 100px;
  height: 20px;
  object-fit: cover;
  align-self: center;
  margin-right: 300px;
  padding: 15px;
}

.log-in {
    display: flex;
    list-style: none;
    gap:25px;
    margin-right: 20px;
    padding: 10px;
}

.search-icon {
  width: 25px;
}

.log-in-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.log-in-icon {
  width: 20px;
  object-fit: cover;
}

.section1{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin: 100px 0 0 70px;
  gap: 30px;
}

.section1-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section1-btn {
  display: flex;
  justify-content: flex-start;
}

.section1-btn-1 {
  font-weight: bold;
  width: 110px;
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
}

.section1-btn-1:hover {
  background-color: rgb(191, 191, 191);
  transition: 300ms;
  cursor: pointer;
}

.section1-btn-2:hover {
  color: white;
  background-color: rgb(156, 156, 156);
  transition: 300ms;
  color: white;
  cursor: pointer;
}

.section1-btn-2 {
  font-weight: bold;
  width: 160px;
  height: 40px;
  background: none;
  color: rgb(255, 255, 255);
  border: solid white;
  border-radius: 3px;
}

.section1-img {
  display: flex;
  position: absolute;
  width: 1250px;
  z-index: -1;
}

h1 {
  color: white;
}

.h1-p {
  color:white;
  font-size: 30px;
  font-weight: bold;
}

.editionsmodeller {
  color:white;
}

.section2 h3 {
  margin-bottom: 10px;
  z-index: 1;
}

.section2 {
  display: flex;
  gap: 50px;
  margin-top: 140px;
  padding: 100px;

}

.section2-btn-1:hover {
  color: rgb(0, 0, 0);
  opacity: 0.7;
}


.footer-box {
  background-color:rgba(255, 255, 255, 0.162);
  color: black;
  width:100%;
  padding: 30px, 50px;
  display: flex;  
  height: 300px;
}

.till-toppen {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  
}





